{% extends "layout.html" %}
{% block content %}
            <legend>{{ legend }}</legend>
            <article class="media content-section">
                <div class="form-group">
                  <p>
                  <a class="border-bottom mr-2">No. {{ order.id }}</a>
                  </p>
                  <p>
                  <a class="border-bottom mr-2">Payment Time: {{ order.pay_date.strftime('%Y-%m-%d %H:%M') }}</a>
                  </p>
                  <p>
                  <a class="border-bottom mr-2">Payment Method: {{ order.pay_method }}</a>
                  </p>
                  <p>
                  <a class="border-bottom mr-2">Total Amount: ${{ invoice.invo_amount }}</a>
                </div>
            </article>
        <a class="btn btn-secondary btn-sm mt-1 mb-2" href="{{ url_for('home') }}">Return</a>
{% endblock content %}