{% extends "layout.html" %} 
{% block content %} 
    <div class="content-section">
        <h3 class="border-bottom mb-4">Update Vehicle Class &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
            <a class="btn btn-secondary btn-sm mt-0 mb-2" href="{{ url_for('new_class') }}">Add New Class</a>
        </h3>
        <div class="vehicle-listing__main-content">
            <section class="vehicle-listing__main-content-group" id="category100"> 
                <legend>{{num}} classes of vehicles in total</legend>           
                <form method="POST" action="">
                    <div>
                      {% for cl in classes %}
                        <article class="media content-section">
                          <div class="form-group">
                            <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-2" href="{{ url_for('update_class', class_id=cl[0]) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#{{ cl[0] }}">Delete</button>
                            </div>
                            <a class="mr-2">Class Name: {{ cl[1] }}</a>
                            <a class="mr-2">Rental Rate: ${{ cl[2] }}/day</a>
                            <a class="mr-2">Over mileage fees: ${{ cl[3] }}/mile</a>         
                          </div>
                        </article>
                        <div class="modal fade" id="{{ cl[0] }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Delete Class?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <form action="{{ url_for('delete_class', class_id=cl[0]) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock content %} 